
.background {
    background-image: url('attels.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.center-text {
    text-align: center;
}
